<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/index.html">{{ site.title }}</a>

    <table border="2" align="right">
        <tr>
             <th> <a class="page-link" href="/index.html"> <b> 日本語 </b>  </a> </th>
             <td> <a class="page-link" href="/ja/about_j.html"> ［プロフィール］ </a> </td>
             <td> <a class="page-link" href="/ja/papers_j.html"> ［論文］ </a> </td>
             <td> <a class="page-link" href="/ja/presentations_j.html"> ［発表］ </a> </td>
             <td> <a class="page-link" href="/ja/contact_j.html"> ［連絡先］ </a> </td>
        </tr>
        <tr> <td></td> </tr>
        <tr> 
             <th> <a class="page-link" href="/index_e.html"> <b> English </b> </a> </th> 
             <td> <a class="page-link" href="/en/about_e.html"> [Profile] </a> </td> 
             <td> <a class="page-link" href="/en/papers_e.html"> [Papers] </a> </td> 
             <td> <a class="page-link" href="/en/presentations_e.html"> [Presentations] </a> </td> 
             <td> <a class="page-link" href="/en/contact_e.html"> [Contact] </a> </td> 
        </tr>
    </table>

  </div>

</header>
