<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/index.html">{{ site.title }}</a>

    <nav class="site-nav">

        <li> <a class="page-link" href="index.html"> <b> 日本語 </b>  </a> 
             <a class="page-link" href="/ja/about_j.html"> ［プロフィール］ </a> 
             <a class="page-link" href="/ja/papers_j.html"> ［論文］ </a>
             <a class="page-link" href="/ja/presentations_j.html"> ［発表］ </a>
             <a class="page-link" href="/ja/contact_j.html"> ［連絡先］ </a>
        </li>
        <li> <a class="page-link" href="index_e.html"> <b> English </b> </a> 
             <a class="page-link" href="/en/about_e.html"> [Profile] </a>
             <a class="page-link" href="/en/papers_e.html"> [Papers] </a>
             <a class="page-link" href="/en/presentations_e.html"> [Presentations] </a>
             <a class="page-link" href="/en/contact_e.html"> [Contact] </a>
        </li>
    </nav>

  </div>

</header>
